services:
  npm:        # nginx proxy manager
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: onsikku-npm
    restart: unless-stopped
    ports:
      - '80:80'   # HTTP 접속용
      - '443:443' # HTTPS 접속용
      #- '81:81'   # NPM 관리 UI 포트
    volumes:
      - ./npm-data:/data
      - ./npm-letsencrypt:/etc/letsencrypt
    networks:
      - onsikku-net

  redis:
    image: redis:7-alpine
    container_name: onsikku-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    networks:
      - onsikku-net
    volumes:
      - ./redis-data:/data # 데이터 영속성 추가
    restart: always

  app:
    image: ${DOCKER_USERNAME}/onsikku-back:latest
    container_name: onsikku-app
    ports:
      - "127.0.0.1:8080:8080"
    env_file:
      - ./.env      # 현재 폴더의 .env 사용
    environment:
      - REDIS_HOST=onsikku-redis    # application.yml redis 설정
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - TZ=Asia/Seoul
      - FCM_CONFIG_PATH=file:/app/firebase/firebase-admin-sdk.json    # application.yml의 fcm.config.path 값을 덮어씌움
    volumes:
      - ./firebase:/app/firebase:ro  # 호스트의 키 파일 폴더를 컨테이너 내부로 연결(마운트), :ro = Read Only (보안 강화)
    #- JAVA_OPTS=-XX:MaxRAMPercentage=75.0 -XX:InitialRAMPercentage=25.0
    depends_on:     # redis, db 컨테이너가 켜진 후에 app 실행됨
      - redis
      - db # db 의존성 추가
    networks:
      - onsikku-net
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    container_name: onsikku-db
    environment:
      POSTGRES_DB: onsikku_prod # DB 이름 명시
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD} # 환경변수 사용 권장
    volumes:
      - ./postgres-data:/var/lib/postgresql/data # 현재 폴더에 데이터 저장
    networks:
      - onsikku-net # 네트워크 참여 필수
    restart: unless-stopped

networks:
  onsikku-net:
    driver: bridge