services:
  redis:
    image: redis:alpine
    container_name: onsikku-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    networks:
      - onsikku-net
    restart: always

  app:
    image: ${DOCKER_USERNAME}/onsikku-back:latest
    ports:
      - "${SPRING_PORT}:8080"
    env_file:
      - ${HOME}/app/.env
    environment:
      - TZ=Asia/Seoul
    depends_on:
      - redis
    networks:
      - onsikku-net
    restart: always

networks:
  onsikku-net:
    driver: bridge