spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/onsikku
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      timeout: 6000

logging:
  level:
    root: INFO
    io.lettuce.core: DEBUG
    org.springframework.data.redis: DEBUG


oauth2:
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    redirect-uri: ${KAKAO_REDIRECT_URI}
    authorization-grant-type: authorization_code

redis:
  registration-token:
    minutes: 10
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION_TIME}