name: deploy.yml

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 코드 체크아웃
        uses: actions/checkout@v4

      - name: JDK 21 설정
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Gradle 빌드
        run: ./gradlew build -x test

      - name: JAR 전송
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          source: "build/libs/*.jar"
          target: "~/app/"
          strip_components: 2

      - name: EC2에 .env 생성
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            echo "DB_USERNAME=${{ secrets.DB_USERNAME }}" > ~/app/.env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> ~/app/.env
            echo "REDIS_HOST=${{ secrets.REDIS_HOST }}" >> ~/app/.env
            echo "REDIS_PORT=${{ secrets.REDIS_PORT }}" >> ~/app/.env
            echo "REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}" >> ~/app/.env
            echo "KAKAO_CLIENT_ID=${{ secrets.KAKAO_CLIENT_ID }}" >> ~/app/.env
            echo "KAKAO_REDIRECT_URI=${{ secrets.KAKAO_REDIRECT_URI }}" >> ~/app/.env
            echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> ~/app/.env
            echo "JWT_EXPIRATION_TIME=${{ secrets.JWT_EXPIRATION_TIME }}" >> ~/app/.env
            echo "SPRING_PORT=${{ secrets.SPRING_PORT }}" >> ~/app/.env
            chmod 600 ~/app/.env

      - name: 원격 서버에서 기존 JAR 종료 후 실행
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            echo "이전 프로세스 종료 중..."
            PID=$(lsof -t -i :9131)
            if [ -n "$PID" ]; then
              echo "PID $PID 종료 시도"
              kill -9 $PID
              sleep 2
              if ps -p $PID > /dev/null; then
                echo "PID $PID 여전히 살아있음"
              else
                echo "PID $PID 종료 완료"
              fi
            else
              echo "실행 중인 프로세스 없음"
            fi
            
            echo ".env 환경변수 로드 후 애플리케이션 실행"
            export $(grep -v '^#' ~/app/.env | xargs) 
            nohup java -jar ~/app/onsikku-back-0.0.1-SNAPSHOT.jar --server.port=${{ secrets.SPRING_PORT }} > ~/app/app.log 2>&1 &

      - name: 배포 확인
        run: |
          for i in {1..10}; do
            if curl -fs https://api.onsikku.xyz/actuator/health; then
              exit 0
            fi
              echo "Waiting for server..."
              sleep 5
          done
          exit 1
